.wrapper {
    position: relative;
    width: 692px;
    height: 624px;
}

.recommend__list {
    padding: 8px 0;
    margin: 8px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar {
    padding: 0 8px;
}

.avatar-img {
    border-radius: 50%;
    width: 52px;
}

.header-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;

    &:hover {
        text-decoration: underline;
    }
}

.header-nickname {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 28px;
}
.btn-follow {
    position: absolute;
    right: -100%;
    top: 20px;
}

.content {
    width: 668px;
}

.video {
    position: relative;
    width: 300px;
    height: 100%;
}

.video-show {
    font-size: 1.6rem;
    display: flex;
}

.action {
    position: absolute;
    bottom: 16px;
    right: -66px;
}

.action-item {
    text-align: center;
    font-size: 1.2rem;
}

.icon {
    font-size: 2rem;
    line-height: 1px;
    padding-top: 4px;
    color: #000;
}
.action-icon {
    width: 46px;
    height: 46px;
    line-height: 52px;
    background-color: rgba(22, 24, 35, 0.06);
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 6px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.14);
    }
    &:hover .icon {
        color: var(--primary);
    }
}
.action-count {
    text-align: center;
}
