.inbox-item {
    padding: 6px -24px;
    margin: 8px;
    display: flex;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.info {
    margin: 4px 16px;
}

.name {
    font-size: 1.4rem;
}

.time-follow {
    font-size: 1.2rem;
    font-weight: 200;
}
