.wrapper {
}

.content {
    display: flex;
}

.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    margin-right: 24px;
}
.nickname {
    display: flex;
}

.btn-profile {
    margin-top: 12px;
    height: 36px;
}

.count-infos {
    display: flex;
}
.count-numbers {
    padding-right: 30px;
    display: flex;
    strong {
        padding-right: 6px;
    }
}
