.wrapper {
    margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0;
    position: relative;
}

.get-app {
    position: absolute;
    z-index: 99;
    color: red;
    font-size: 99px;
}
