.wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 20px 0 20px 0;
    position: relative;
}
.content {
    padding-left: 20px;
}

.info {
    display: flex;
}

.nick-name {
    font-size: 2rem;
    font-weight: 600;
}

.name {
    padding-left: 4px;
    transform: translateY(6px);
    font-size: 1.4rem;
    font-weight: 400;
}

.video {
    display: flex;
    padding-top: 8px;
}
.video-item {
    max-height: 516px;
    max-width: 400px;
    border-radius: 8px;
}

.action {
    display: flex;
}

.action-item {
    margin: 8px;
}

.action-icon {
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    padding: 20px;
    &:active .icon {
        color: red;
    }
}
.action-count {
    text-align: center;
}
.icon {
    font-size: 2rem;
    transform: translateX(-6px) translateY(-6px);
}

.follow {
    position: absolute;
    right: 40px;
    top: 20px;
}
