.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}
.input {
}

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 20px;
    padding: 4px 8px;
    cursor: pointer;
    /* clear background-color default */
    background-color: transparent;
}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.upload {
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 4px 32px;
    border-radius: 2px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.user-avatar {
    margin-left: 24px;
    position: relative;
    width: 32px;
    height: 32px;
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.btn-inbox {
    position: relative;
}

.view-inbox {
    text-align: left;
    position: absolute;
    padding: 16px;
    transform: translateX(-72%);
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0px -4px 32px;
    z-index: 1000;
    margin-top: 20px;
    border-radius: 8px;
    width: 364px;
    height: 500px;
    display: none;
}
.view-inbox::before {
    position: absolute;
    right: 74px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
    top: -36px;
    content: '';
    display: block;
}
.group-item {
    width: 354px;
    margin-top: 24px;
    flex-flow: row wrap;
    display: flex;
}

.span-item {
    background: rgb(241, 241, 241);
    display: block;
    border-radius: 999px;
    margin-right: 6px;
    padding: 4px 10px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.notify {
    margin-top: 12px;
    font-size: 2rem;
}

.inbox-list {
    font-size: 14px;
    line-height: 17px;
    flex-direction: row;
    padding: 10px 0;
    align-items: flex-start;
    cursor: pointer;
}
