.wrapper {
    width: 1050px;
    margin-top: 20px;
}
.grid-12 {
    display: flex;
    margin: 20px;
    width: 1050px;
}
.grid-4 {
    margin: 20px;
    position: relative;
    width: 25%;
}
.grid-8 {
    width: 75%;
}
.content-item {
    margin-top: 20px;
}
.input-file {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.upload-store {
    padding-left: 35px;
    padding-right: 35px;
    height: 458px;
    border-radius: 8px;
    border: 2px dashed rgba(22, 24, 35, 0.2);

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    flex-direction: column;
    cursor: pointer;
    display: flex;
    transition: background 0.15s ease-in-out 0s;
    box-sizing: border-box;
    &:hover {
        border: 2px dashed rgb(254, 44, 85);
    }
}

.text-main {
    text-align: center;
    margin-top: 24px;
}

.main-span {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(22, 24, 35, 1);
}

.text-sub {
    margin-top: 4px;
    margin-bottom: 24px;
}

.sub-span {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1.4rem;
    font-weight: 200;
}

.text-video-info {
    list-style: none;
    font-size: 1.4rem;
}
.text-video-info li {
    margin-bottom: 6px;
    text-align: center;
}

.bg-container {
    display: flex;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid rgba(22, 24, 35, 0.12);
}
.candidate {
    display: flex;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    width: 84.2px;
    height: 150px;
    object-fit: cover;
    background-color: rgba(22, 24, 35, 0.03);
}

/* Caption */

.bg-caption {
    outline-style: none;
    position: relative;
    flex: 1 1 0%;
}

.title-caption {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.require-font {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: rgba(22, 24, 35, 0.5);
    white-space: pre;
}
.caption-content {
    margin-top: 4px;
}

.container-v2 {
    min-height: 46px;
    position: relative;
    display: flex;

    text-align: center;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
}

.editor {
    font-weight: 400;
    font-size: 15px;
    line-height: 48px;
    cursor: text;
    width: 100%;
    position: relative;
    padding: 0px 80px 0px 16px;
}

.draft-editor {
    text-align: initial;
}

.input-editor {
    width: 100%;
    border-style: none;

    &:focus-within {
    }
}
.icon-style {
    right: 40px;
    display: flex;
    height: 46px;
}
.icon-at {
    margin-top: 14px;
    margin-right: 16px;
}

.select-option {
    width: 300px;
}

.checkbox-option {
    display: flex;
    margin-top: 12px;
}
